header {
  background-color: #0a3546;
  padding: 0px;
  text-align: left;
  font-size: 35px;
  color: white;

  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);

}


.logo
  {
    height:90px;
    width: 90px;
  }
 .container-fluid
 {
 	border: 5px groove ;
 	border-radius: 15px;
 	width: 800px;
 	background-color: #75616133;
/*  background: rgba(40, 69, 71, 0.73);*/
 	/*height: 400px;*/
 }
 #formreg
 {
    width: 600px;
   margin:auto;
 }
 

.help-block
{
	color:red;
	font-size: 12px;
}
.title
{
text-align: center;
}
#regserch
{
  width:50%;
}
